.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    margin: 50px 0;
    width: 310px;
    height: 550px;
    background-color: rgb(20, 16, 28)!important;
    color: white;
}

.job-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* height: 50px; */
}

.contact-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* height: 40px; */
}

.social-media-icons-ctr {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cv-btn {
    background-color: rgba(47, 240, 147, 0.871);
    color: black;
    border: 2px solid rgba(47, 240, 147, 0.871);
    border-radius: 16px;
    width: 70%;
    height: 40px;
    margin-top: 20px;
}

.profile-name {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
}

.profile-job {
    font-size: 0.8rem;
}

.profile-email {
    font-size: 0.8em;
    margin: 0;
}

.profile-mobile {
    font-size: 0.8em;
}

.cv-btn:hover {
    background-color: black;
    color: white;
}

@media (min-width: 768px) {
    .container {
        width: 18%;
        height: 550px;
        /* min-width: 200px; */
    }
}
