.about-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-card {
    width: 310px;
    height: 320px;
    /* background-color: rgb(29, 28, 34)!important; */
    background-color: rgb(20, 16, 28)!important;
    color: white;
    display: flex;
    flex-direction: column;
    font-style: italic;
    border-radius: 8px;
    margin-bottom: 20px;
}

.exp-card {
    width: 310px;
    height: 260px;
    /* background-color: rgb(29, 28, 34)!important; */
    background-color: rgb(20, 16, 28)!important;
    color: white;
    display: flex;
    flex-direction: column;
    font-style: italic;
    border-radius: 8px;
    margin-bottom: 20px;
}

.edu-card {
    width: 310px;
    height: 260px;
    /* background-color: rgb(29, 28, 34)!important; */
    background-color: rgb(20, 16, 28)!important;
    color: white;
    display: flex;
    flex-direction: column;
    font-style: italic;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-name {
    font-size: 18px;
    margin: 20px 20px 20px 20px;
    color: rgba(47, 240, 147, 0.871);
}

.year {
    font-size: 12px;
    color: grey;
    margin: 10px 20px 5px 20px;
}

.job-profile {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 20px;
}

.company {
    font-size: 14px;
    margin: 5px 20px 10px 20px;
    color: grey;
}

@media (min-width: 768px) {
    .about-ctr {
        margin: 50px 0 50px 30px;
        min-width: 70%;
        display: flex;
        flex-direction: column;
    }
    .about-me-card {
        min-width: 100%;
        height: 295px;
    }
    .home-description {
        font-size: 20px;
    }
    .education-ctr {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .exp-card {
        width: 48%;
    }
    .edu-card {
        width: 48%;
    }
}