.exp-ctr {
    min-width: 310px;
    height: 360px;
    /* background-color: rgb(29, 28, 34)!important; */
    background-color: rgb(20, 16, 28)!important;
    color: white;
    display: flex;
    flex-direction: column;
    font-style: italic;
    border-radius: 8px;
}

.exp {
    margin: 20px 20px 30px 20px;
}

.experience-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 310px;
}

@media (min-width: 768px) {
    .exp-ctr {
        min-width: 75%;
        margin: 50px 0px 0px 20px;
    }
}